* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
section {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	overflow: hidden;
	filter: contrast(50);
}
.gooey span {
	width: 100px;
	height: 100px;
	background-color: #000;
	display: inline-block;
	border-radius: 50%;
	filter: blur(25px);
	animation: animate 5s ease-in-out infinite;
}
@keyframes animate {
	0%, 100% {
		margin: 10px;
	}	
	50% {
		margin: -50px;
	}
}